<!doctype html>
<html lang="en" ng-app="progressIndicatorApp">
<head>
    <meta charset="utf-8">
    <title>Progress Indicator App</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <!-- <link rel="stylesheet" href="css/graph.css"> -->
    <script src="bower_components/angular/angular.js"></script>
    <!-- <script src="bower_components/d3/d3.js"></script> -->
    <script src="js/d3Factory.js"></script>
    <script src="js/progressIndicator.js"></script>
</head>
<body>

    <div ng-controller="progressController">

        <!-- View -->
        <span>{{ title }}</span>
        <p>actual = <input type="number" ng-init="d3Data.actual=0.73" ng-model="d3Data.actual"></p>
        <p>expected = <input type="number" ng-init="d3Data.expected=0.5" ng-model="d3Data.expected"></p>

        <ng-progress-indicator data="d3Data"></ng-progress-indicator>

    </div>

</body>
</html>
